html {
  width:1024px;
  margin: auto;
}
body {
  font-family: "Helvetica", "Arial", sans-serif;
}
div {
  background:orange;
  border: 4px double black; /* Параметры границы */
  padding: 30px; /* Поля вокруг текста *
    
}
 
 